@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
    font-family: "ALLENOIRE";
    src: url("../assets/fonts/FontsFree-Net-Allenoire-Font.ttf");
  }

p {
  font-family: "RALEWAY";
  src: url("../assets/fonts/FontsFree-Net-Raleway-Regular.ttf");
}  

  #top {
    background-image: url('../assets/images/bg-jet.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
  };

  #core {
    background-image: url("../assets/images/pattern-group.png");
    background-repeat: no;
    background-size: cover;
    background-position: 10%;
  }

  /* Hamburger Menu*/
  
  .hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition:all 0.25s;
    position: relative;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #1e1e1e;
  }

  .hamburger-middle {
    transform: translateY(7px);
  }

  .hamburger-bottom {
    transform: translateY(14px);
    
  }

  .open{
    transform: rotate(90deg);
    transform: translateY(0px);
  }

  .open .hamburger-top {
    transform:rotate3d(45deg) translateY(6px) translate(6px)
  }

  .open .hamburger-middle {
    display: none;
  }

   .open .hamburger-bottom {
    transform:rotate3d(-45deg) translateY(6px) translate(-6px)
  }/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}